.wrap {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.post-content {
	width: 40%;
	height: 100%;
}
.post-content-img {
	width: 100%;
}
.post-content-img img {
	border-radius: 2px;
	height: 100%;
}
.contents_heading {
	font-size: 24px;
	font-weight: 400;
}
.post-container {
	font-weight: 600;
	width: 55%;
}
.post-item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3rem;
	width: 100%;
}
.contents_container {
	justify-content: space-between;
}
.title {
	margin: 0;
	text-align: flex-start !important;
}
.post-container_img {
	border-radius: 2px;
	margin-right: 8px !important;
}
.font_container{
    display: flex;
    width: 100%;
}
.font_container_list{
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}
.font-number-s1 {
	font-size: 50px;
}
