.header-detail-text {
	margin: 0px 14px;
	color: #fff;
}

.btn-infos-item {
	color: #fff;
	width: 80px;
}
.header-container {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header-container a {
	color: black;
	font-weight: bold;
	font-size: 16px;
}
